.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  color: #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  max-width: 355px;
  margin: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
  cursor: pointer;
  transition-duration: 0.4s;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-button_liked {
  background-image: url("../images/liked-icon.svg");
  opacity: 1;
}

.card__liked-button_liked:hover {
  background-image: url("../images/liked-icon_hover.svg");
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    max-width: 280px;
    max-height: 280px;
  }

  .card__content {
    width: 280px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 250px;
  }

}
