.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 12px;
}

.profile__description {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 0 12px;
  color: rgba(33, 33, 33, 0.7);
}

.profile__edit-btn {
  display: flex;
  padding: 90px;
  background: none;
  border: none;
  opacity: 70%;
  gap: 8px;
  padding: 0;
}

.profile__add-btn {
  color: #fff;
  background-color: #212121;
  border: none;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  margin-left: auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  align-self: flex-end;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__add-btn {
    margin: auto;
    max-width: 288px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }
}
